@import "../../common/colors";

.movie-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
  }

  img {
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }

  .movie-content {
    margin-top: 20px;

    .movie-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .movie-rating {
      span {
        display: flex;
        align-items: center;
        font-size: 16px;

        i {
          margin-left: 5px;
          color: $star-color;
        }
      }
    }

    .movie-info {
      margin-top: 15px;

      .description {
        font-size: 16px;
        margin-bottom: 10px;
      }

      span {
        text-transform: capitalize;
        font-size: 14px;
      }
    }
  }
}

