@import "../../common/colors.scss";

.movie {
    width: 15%;
    margin: 2rem;
    padding: 0.1rem;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    }

    img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
        transition: transform 0.3s ease-in-out;
    }

    h3 {
        margin-top: 1rem;
        font-size: 1rem;
        color: $font-primary;
    }

    @media (max-width: 768px) {
        width: 48%;
        margin: 0.1rem;
        padding: 0rem;
    }
}
